:root {
  --primary-color: #ffcc3f;
  /* Vibrant Yellow from Polaris */
  --bg-color: #000000;
  /* Deep black from Polaris */
  --card-bg: #0d0c0c;
  /* Very dark gray for cards */
  --card-border: 1px solid hsla(0, 0%, 100%, 0.24);
  /* Polaris soft borders */
  --text-main: #ffffff;
  /* White text for dark mode */
  --text-secondary: #a0a0a0;
  /* Gray text for secondary info */
  --font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-main);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset styles */
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
}